body {
	background-color: black;
	font-family: Roboto, sans-serif;
}
.menu {
	display: flex;
	justify-content: space-around;
	background-color: black;
}
.logo {
	width: 15vw;
}
body div a {
	text-decoration: none;
	font-size: 1.3vw;
}
body div a h1 {
	color: #0094f0;
	padding-top: 1vh;
}
.background {
	position: absolute;
	width: 97.8vw;
}
.welcomeBox {
	border-radius: 20px;
	position: absolute;
	background-color: #000000b2;
	color: white;
	margin-top: 15vw;
	margin-left: 70vw;
	margin-right: 5vw;
	height: 19vw;
	width: 25vw;
	text-align: center;
}
.welcome {
	font-size: 3vw;
}
.intro {
	font-size: 1.25vw;
}
.audio {
	width: 24vw;
	height: 5vw;
}
.final {
	position: absolute;
	margin-top: 48vw;
	background-color: #000000cc;
	display: flex;
	justify-content: space-around;
}
.logo-final {
	width: 10vw;
}
.redes {
	padding-top: 1.25vw;
	justify-content: space-between;
	width: 5vw;
}
.youtube {
	width: 5vw;
	padding-right: 11vw;
	padding-bottom: 0.9vw;
}
.menu-redes {
	padding-left: 19vw;
}
