body {
	background-color: black;
	font-family: Roboto, sans-serif;
}
.background {
	position: absolute;
	width: 97.8vw;
}
.welcomeBox {
	border-radius: 20px;
	position: absolute;
	background-color: #000000b2;
	color: white;
	margin-top: 15vw;
	margin-left: 70vw;
	margin-right: 5vw;
	height: 19vw;
	width: 25vw;
	text-align: center;
}
.welcome {
	font-size: 3vw;
}
.intro {
	font-size: 1.25vw;
}
.audio {
	width: 24vw;
	height: 5vw;
}
