.menu {
    width: 97.8vw;
	display: flex;
	justify-content: space-around;
	background-color: rgb(26, 26, 26);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.logo {
	width: 9vw;
}
body div a {
	text-decoration: none;
	font-size: 0.6vw;
}
body div a h1 {
	color: #0094f0;
	padding-top: 1vh;
}
#menuprodutos {
	visibility: hidden;
	position: absolute;
}
#menuprodutos a h1 {
	margin-left: 1.9vw;
	font-size: 1vw;
}
#menuprodutos:hover {
	visibility: hidden;
	color: #0094f0;
	background-color: rgb(49, 49, 49);
	position: absolute;
	z-index: 1;
	width: 15vw;
	top: 5vw;
	left: 46vw;
	display: grid;
	text-align: left;

	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}