body {
	background-color: black;
	font-family: Roboto, sans-serif;
}
.menu {
	display: flex;
	justify-content: space-around;
	background-color: black;
}
.logo {
	width: 15vw;
}
body div a {
	text-decoration: none;
	font-size: 1.3vw;
}
body div a h1 {
	color: #0094f0;
	padding-top: 1vh;
}
#artigoLead {
	background-color: white;
	height: 28vw;
	border-radius: 15px;
}
#artigoLead img {
	position: absolute;
	width: 45vw;
	margin-top: 1vw;
	margin-left: 50vw;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
}
#lead {
	position: absolute;
	font-size: 1.75vw;
	margin-top: 10vw;
	margin-right: 52vw;
	text-align: center;
	margin-left: 2vw;
}
#titulo {
	position: absolute;
	font-size: 3vw;
	margin-left: 1vw;
	margin-top: 2vw;
}
#artigo {
	margin-top: 2vw;
	background-color: white;
	position: absolute;
	height: 34vw;
	border-radius: 15px;
}
#text1 {
	font-size: 1.4vw;
	margin-left: 2vw;
	margin-right: 2vw;
}
#text2 {
	font-size: 1.4vw;
	margin-left: 2vw;
	margin-right: 35vw;
}
#text3 {
	font-size: 1.4vw;
	margin-left: 2vw;
	margin-right: 35vw;
}
#table1 {
	position: absolute;
	margin-top: -15vw;
	margin-left: 70vw;
	width: 24vw;
}
#xenial {
	position: absolute;
	margin-top: 38vw;
	border-radius: 15px;
	width: 97.9vw;
}
#toshiba {
	margin-top: -15vw;
	width: 45vw;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	position: absolute;
}
#artigo2 {
	margin-top: 95vw;
	background-color: white;
	position: absolute;
	border-radius: 15px;
}
#artigo2 h1 {
	margin-left: 45vw;
	color: black;
	font-size: 6vw;
	text-align: center;
}
#text4 {
	margin-top: -3vw;
	font-size: 1.5vw;
	margin-left: 50vw;
	margin-right: 2.75vw;
}
#text5 {
	margin-top: -1vw;
	font-size: 2.5vw;
	margin-left: 50vw;
	margin-right: 2.75vw;
}
#text6 {
	margin-top: -1vw;
	font-size: 2.5vw;
	margin-left: 50vw;
	margin-right: 2.75vw;
}
.final {
	position: absolute;
	margin-top: 200vw;
	background-color: #000000cc;
	display: flex;
	justify-content: space-around;
}
.logo-final {
	width: 10vw;
}
.redes {
	padding-top: 1.25vw;
	justify-content: space-between;
	width: 5vw;
}
.youtube {
	width: 5vw;
	padding-right: 11vw;
	padding-bottom: 0.9vw;
}
.menu-redes {
	padding-left: 19vw;
}
