body {
	background-color: black;
	font-family: Roboto, sans-serif;
}
.autor {
	text-align: center;
	color: white;
	font-size: 1.5vw;
}
.imgAutor {
	width: 20vw;
	border-radius: 50%;
}
.logos {
	display: flex;
	justify-content: space-around;
}
.OU {
	color: white;
	position: absolute;
	font-size: 10vw;
}
.mais {
	color: white;
	text-align: center;
	background-color: #0094f0;
	border-radius: 20px;
}
.links {
	display: flex;
	justify-content: space-around;
}