body {
	background-color: black;
	font-family: Roboto, sans-serif;
}
#fundo {
	background: linear-gradient(45deg, purple, blue);
	padding-bottom: 1vw;
}
.autor {
	text-align: center;
	color: white;
	font-size: 1.5vw;
}
.imgAutor {
	width: 20vw;
	border-radius: 50%;
}
.logos {
	display: flex;
	justify-content: space-around;
}
.OU {
	color: white;
	position: absolute;
	font-size: 10vw;
}
.mais {
	color: white;
	text-align: center;
}
.links {
	display: flex;
	justify-content: space-around;
}