body {
	font-family: Roboto, sans-serif;
    background-color: black;
}
.white {
    background-image: linear-gradient(rgb(26, 26, 26), white, rgb(26, 26, 26));
    width: 97.8vw;
}
#flex {
    display: flex;
    justify-content: space-around;
}
#seccao {
    margin-top: 4vw;
    margin-bottom: 4vw;
    background-color: rgb(26, 26, 26);
    height: 17.5vw;
    border-radius: 30px;
}
#seccao:hover {
    animation: animation 3s infinite;
}
#c0 {
    width: 20vw;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
#c1 {
    width: 20vw;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-bottom: -1.25vw;
}
#c2 {
    width: 20vw;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-bottom: -0.5vw;
}
#c3 {
    width: 20vw;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-bottom: -3vw;
}
#font3 {
    font-size: 1vw;
    color: white;
    width: 15vw;
    margin-top: 2.5vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    text-align: center;
}
@keyframes animation {
    0% {margin-top: 4; margin-bottom: 4vw}
    25% {margin-top: 2vw; margin-bottom: 6vw;}
    50% {margin-top: 6vw; margin-bottom: 2vw}
    100% {margin-top: 4vw; margin-bottom: 4vw;}
}