body {
	background-color: black;
	font-family: Roboto, sans-serif;
}
.background {
	position: absolute;
	width: 97.8vw;
}
.assunto:hover {
	background-color: #0094f0;
}
.assunto {
	color: rgb(196, 196, 196);
	background-color: rgb(29, 29, 29);
	border-radius: 15px;
	margin: 2vw;
	height: 25vw;
}
.assunto0_img {
	position: absolute;
	margin-top: 1.5vw;
	margin-left: 1.5vw;
	width: 30vw;
	border-radius: 15px;
}
.assunto0_h1 {
	position: absolute;
	color: white;
	margin-top: 2.5vw;
	margin-left: 35vw;
	margin-right: 2.5vw;
	font-size: 2vw;
}
.assunto0_p {
	position: absolute;
	margin-top: 7vw;
	margin-left: 35vw;
	margin-right: 7vw;
	font-size: 1.5vw;
}